@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --homeAccent: #e0cabc;
  --quizAccent: #b0b8ff;
  --resultAccent: linear-gradient(269.85deg, #ffdf64 0.12%, #f4d456 99.86%);
  --timeoutAccent: linear-gradient(269.85deg, #ff646d 0.12%, #f45656 99.86%);
  --black: #050f01;
}

* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

