.home {
  background-color: var(--homeAccent);
  max-width: 1600px;
  margin: 0 auto;
}

/* Left side */

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.heroImage {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.heroImage img {
  height: 100%;
  width: 100%;
}

/* Right side */

.heroCTA {
  flex: 1;
}

.heroContent {
  
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heroContent > h2 {
  font-size: 45px;
  font-family: 'Rosario';
  margin-bottom: 41px;
  font-weight: 500;
}
.ctaCard {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 65px 34px;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  color: var(--black);
  text-align: center;
}

.ctaCard h2 {
  font-size: 35px;
}

.ctaCard p {
  font-size: 24px;
  margin-top: 17px;
}

button {
  padding: 15px 180px;
  margin-top: 17px;
  font-size: 30px;
  font-weight: 700;
  border: none;
  color: white;
  background-color: var(--black);
  cursor: pointer;
  transition: 200ms ease-in-out;
}
button:hover {
  background-color: rgb(54, 54, 54);
}

@media screen and (max-width: 967px) {
  .heroSection{
    flex-direction: column;
  }

  .heroImage {
    justify-content: center;
    
    flex: 1;
  }

  .heroImage img {
    height: 80%;
    width: 80%;
  }

  .heroContent > h2 {
 
    font-size: 35px;
    margin: 30px 0;
    
  }

  .ctaCard {
    width: 80% ;
   
  }
  .ctaCard h2 {
    font-size: 25px;
  }

  .ctaCard p {
    font-size: 14px;
    margin-top: 17px;
  }

  button {
    padding: 5px 80px;
    font-size: 20px;
    font-weight: 500

  }


}